*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
}
header{
    background-color: aquamarine;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
 
header div ul{
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
}
header div ul li a{
    color: rgb(128, 34, 34);
    transition: .3s;
}
            header div ul li a:hover{
                color: rgba(255, 255, 255, 0.541);
            }

.header-json{
    background-color: brown;
}
    .header-center{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70vh;
    }
        .card-json{
            background-color: grey;
            height: 20vh;
        }