*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root  {
    background-color: #f4f4f4;
    --border-primary:#773344;
    --border-secondary:#C45470;
    --border-gradient:rgb(119,51,68);
    --blue-primary:#286378;
    --blue-secondary:#4BA5C4;
    --blue-gradient: rgb(40,99,120);
    --black-100:#261F22;
    --black-75:#534e50;
    --black-50:#807c73;
    --black-25:#acabab;
    --black-10:#dfdfdf;
    --university-primary:#7bc07d;
    --university-secondary:#477A49;
    --university-gradient:rgb(69,74,70);
    --demister-primary:#3c6e71;
    --demister-secondary:#698682;
    --demister-gradient: rgb(60,110,113);
    --grid-gradient:#bda287;
}

body{
    width: 100%;
}
header{
    background-color: var(--black-50);
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
}
 
header div ul{
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
}
header div ul li a{
    color:  var(--black-100);
    transition: .3s;
}
            header div ul li a:hover{
                color: var(--black-25);
            }

.header-json{
    background-color: var(--black-50);
}
    .header-center{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70vh;
    }
        .card-json{
            background-color: grey;
            height: 20vh;
        }